
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6vm;
    font-family: "Montserrat", sans-serif;
}

h1{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 21px;
}

h6{
  font-size: 14px;
  letter-spacing: 1px;
}

li,a, button, h4
{
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

h4{
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    padding-right: 40px;
}

header{
    display: flex;
    background-color:#1c1c1c;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 3px 4.5%;
    width: 100%;
    position: fixed;
    z-index: 8;
}

.nav-links a i{
  color: white;
}

.container{
  offset: top;
}

section{
  scroll-snap-align: center;
}

.logo{
    cursor: pointer;
}

.logo img{
    height: 50px;
    
}

.nav-links{
    list-style: none;
}

.dctLogo{
  float: right;
  height: 25%;
  width: 25%;
}

.nav-links li{
    display: inline-block;
    padding: 5px 12px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    padding-bottom: 11px;
    border-bottom: 10px solid #0041a5;   
}

.nav-links .icon{
    display: none;
}

.cta button{
    padding: 9px 20px;
    background-color: rgb(14, 163, 212);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover{
    background-color: gray;
    color: white;
}

.content h1{
    letter-spacing: 2px;
    text-transform: uppercase;
}
.content p{
    color:black;
    font-weight:750;
    letter-spacing:1px;
}

.btn button{
    padding: 9px 25px;
    background-color: rgb(14, 163, 212);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 10px;
}

.fa-search{
  padding: 10px;
}

.fa-search:hover{
  color: rgb(14, 163, 212);
}

.fa-user-circle{
  padding: 10px;
}

.fa-user-circle:hover{
  color: rgb(14, 163, 212);
}

.topnav #myLinks {
  display: none;
}


.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color:white;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 30%;
  outline: none;
}

.buttons button i{
  color: white;
}

.buttons button:hover {
 background-color: rgba(255,255,255,0.4);
  transition: all 0.5s ease-in-out 0S;
  
}

.page2{
  height: 100vh;
  width: 100%;
  background-image: url(img/ab1.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
  font-weight: 1000;
}

.about-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.counter-up{
  background-color: white;
  opacity: 90%;
  min-height: 50vh;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 70px;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 110px;
  position: relative;
}

.counter-up::before{
  position: absolute;
  content: "";
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}

.counter-up .material{
  position: relative;
  z-index: 2;
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.material .box{
  width: calc(25%-30px);
  border: 2px solid #0041a5;
  border-radius: 15px;
  text-align: center;
  padding: 5px 10px;
  margin:10px 0px;

}

.material .box:hover{
  background-color:wheat;
  border: 2px solid wheat;
  transition:all 1s ease-in-out 0s;
}

.counter{
  color: black;
}

.text a{
  color: black;
}

i{
  color: black;
}

.material .box .icon2{
  font-size: 48px;
}

.material .box .counter{
  font-size: 24px;
  font-weight: 600;
}

.about-info{
  color: black;
  margin-left: 150px;
  margin-right: auto;
  margin-top: 110px;
  
}

.about-info .box {
 background-color: white;
  opacity: 90%;
  height: 75vh;
  width: 56vh;
  border-radius: 10px;  
  padding: 0px 10px;
  
}

.about-info .box h1{
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding-top:15px;
  transition: all 2s ease 0s;
}

.about-info .box h2{
  margin-left: 20px;
  font-size: 16px;
  margin-right: 8px;
  text-align: left;
}

.about-info .box img{
  height: 42%;
  width: 75%;
  opacity: 100%;
  margin-left: 51px;
  background-position: top;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 4px;
}

.about-info .box img:hover{
  transition: all 0.5s ease-in-out 0s;
  opacity: 80%;
  border-radius: 4px;
}

.about-info .box a{
  color: #0041a5;
  text-decoration: underline;
}

.fac-info{
    margin: auto;
    align-items: center;
}

.showcase {
	height: 100vh;
  display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 0;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.prog-content {
	z-index:0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

.prog-box{
  background-color: #eceff1;
  opacity: 90%;
  border-radius: 10px;
  margin: 20px;
  padding: 30px 20px;
  
  color: black;
}

.prog-box a{
  color: #000;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #000;
	border-radius: 5px;
	border: solid black 1px;
	margin-top: 25px;
	opacity: 0.7;
}

.btn:hover{
  transition: all 1s ease-in-out 0s;
  background-color: #607d8b;
  color: white;
  border: 1px solid #607d8b;
  
}

.btn:hover {
	transform: scale(0.98);
}



.page4{
  background-image: url(img/bgFac4.jpg);
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
}


.fac-container {
  margin-right: 160px;
  margin-bottom:100px;
  display: grid;
  grid-column: content-start / content-end;
  grid-row: header-end / content-end;
  overflow-y:scroll;
  
  margin-top: 120px;

}

.fac-container::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(125, 125, 125, 0.4);
}

.fac-container::-webkit-scrollbar-thumb{
  background: rgb(58, 169, 206); 
  border-radius: 10px;
  padding-left: 10px;
}

.fac-container::-webkit-scrollbar-thumb:hover{
  background: rgba(58, 169, 206,0.9); 
  border-radius: 10px;
  padding-left: 10px;
}


.grid-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fac-box {
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  line-height: 1.6rem;
  border-radius: 10px;
}


.fac-pic{
  height: 150px;
  margin-top: 20px;
  border-radius: 50%;
}

.fac-h{
  font-size: 19px;
  font-weight: bolder;
}

.fac-des{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 14px;
}

.fac-p{
  font-weight:bold;
  padding-bottom: 10px;
  color:#0041a5;
}

.fac-p a{
  text-decoration: underline;
  color: black;
}

.fac-but{
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(58, 169, 206);
  border: 1px solid rgb(58, 169, 206);
}

.fac-but:hover{
  background-color: #607d8b;
  border:1px solid #607d8b;
  transition: all 0.75s ease-in-out 0s;
  
}


.page5{
  height: 100vh;
  justify-content: center;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-image: url(img/bgnews.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.35);
  background-blend-mode: multiply;
}

.news-box {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  height: 70vh;
  margin-top: 110px;
  margin-left:auto;
  margin-right: auto;
}

.news-box * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.news-box img {
  width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.75;
  height: 70%;
}

.news-box figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.news-box figcaption h3{

  text-transform: uppercase;
  font-size: 20px;
}

.news-box figcaption p{
  line-height: 20px;
}

.news-box .date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.news-box .date span {
  display: block;
  line-height: 14px;
}

.news-box .date .month {
  font-size: 11px;
}

.news-box h3,
.news-box p {
  margin: 0;
  padding: 0;
}

.news-box h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

.news-box .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(58, 169, 206,0.4);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.news-box a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.news-box:hover .hover,
.news-box.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}


.fa-external-link-square-alt{
  color: white;
}

.news-box:hover figcaption,
.news-box.hover figcaption {
  opacity: 0;
}

.news-box:hover .date,
.news-box.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}


@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
 }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
 }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
 }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
 }
}

.ticker-wrap {
  top: 0;
  width: 200%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(14, 163, 212,0.6);
  padding-left: -100%;
  box-sizing: content-box;
  margin-left: 200px;
  margin-bottom: 35px;
 
  justify-content: center;
  border-radius: 20px;
}

.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.25rem;
  color: white;
  
}

.ticker:hover {
 animation-play-state: paused
}


.footer-container{
  display: grid;
  background-color:#1c1c1c;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: white;
  padding: 20px 0px;
}

.short-nav{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: rgb(58, 169, 206);
}

.short-nav h4{
  color:rgb(58, 169, 206);
}

.short-nav ul li{
  list-style: none;
  padding-top: 25px;
  
 }

 .short-nav ul li a{
   font-size: 14px;
   color: white;
 }

 .short-nav ul li a:hover{
   text-decoration: underline;
   
 }

 .map a i{
   margin-bottom: 20px;
 }

 .loc-footer{
   font-size: 18px;
   color: rgb(58, 169, 206);
   letter-spacing: 2px;
   text-transform: uppercase;
 }

 .loc-footer i{
   color: rgb(58, 169, 206);
   margin-right: 10px;
 }

.contact-footer h4{
  color: rgb(58, 169, 206);
}

.contact-footer ul li{
  list-style: none;
  margin-top: 20px;
  
}

.contact-footer ul li i{
  padding: 0px 10px;
  color: white;
}

.contact-footer ul li i:hover{
  color:lightskyblue;
}


.slide:first-child {
  background: url('img/1.jpeg') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('img/2.jpg') no-repeat
    center top/cover;
    
}
.slide:nth-child(3) {
  background: url('img/3.jpeg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('img/4.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('img/5.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(6) {
    background: url('img/6.jpg') no-repeat
      center top/cover;
  } 


@media  (min-width:700px){
  .about-info .box {
    padding-top: 30px;
    line-height: 2;
 }
}



@media (max-width: 700px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
    margin-bottom: 40px;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }

  .active{
      display: none;
  }

  header{
    padding: 1px 4.5%;
  }

  h4{
    text-align:center;
    padding-left: 70px;
    letter-spacing:2px;
  }

  .nav-links a:not(:first-child) {display: none;}

  .nav-links a.icon {
      float: right;
      display: block;
      width: 90px;
      padding-bottom: 40px;
      padding-left: 20px;
    }

    .nav-links .responsive li{
        display: block;
        padding: 50px 50px;
        background-color: khaki;
    }

    .nav-links li a:hover{
        display: block;
        padding: 50px 50px;
        background-color: khaki;
    }

    .fa fa-bars{
        color: khaki;
    }

    .about-container{
      display: grid;
      grid-template-columns: 1fr;
    }

    .counter-up{
      min-height: 50vh;
      padding-left: 100px;
      padding-right: 100px;
      margin-top: 15px;
      
    }
    
    .material .box .icon2{
      font-size: 24px;
    }
    
    .material .box .counter{
      font-size: 12px;
      font-weight: 600;
    }

    .prog-content {
      z-index: 2;
      display: block;
      grid-template-columns: 1fr;
      padding-top: 750px;
      position: relative;
    }
    
    .counter-up{
      background-color: white;
      opacity: 90%;
      min-height: 50vh;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 100px;
      padding-right: 100px;
      margin-top: 10px;
      position: relative;
      font-size: 14px;
    }
    

    .about-info{
      color: black;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
   
    }

    .about-info .box {
       height: 38vh;
      
    }

    .about-info .box h1{
      font-size: 18px;
    }
    
    .about-info .box h2{
      font-size: 14px;
    }

    .video-container {
      position:absolute;
      width: 100%;
      height: 100%;
      overflow:hidden;
    }

    .prog-box{
      background-color: #eceff1;
      opacity: 90%;
      border-radius: 10px;
      margin: 10px;
      padding-top: 10px;
      padding: 10px;
      overflow-y: hidden;
      color: black;
      height:10vh;
    }

    .prog-content {
      position: relative;
      z-index: 0;
      margin-bottom: 700px;
    }

   
    .page4{
      height: 1300vh;
      
    }

    .fac-container {
      margin-left: 40px;
      margin-right: 40px;
      justify-content: center;
      align-items: center;
      
    
    }

    .grid-boxes {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 50px;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
    }



    .page5{
      height: 100%;
      justify-content: center;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .ticker-wrap {
      top: 0;
      width: 70%;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
    }

    .footer-container{
      color: burlywood;
    }

    .footer-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      color: white;
      padding: 20px 0px;
    }

    .map{
      margin-left: 40px;
    }

    .contact-footer{
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
    }

    .contact-footer ul li a i{
      margin-left: 40px;
    }
}

